@font-face {
    font-family: 'cevibold';
    src: url('cevibold-webfont.woff2') format('woff2'),
         url('cevibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}